meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos del mercado II
meta(meta name="description" content="El universo del vestuario es muy amplio, tanto como los posibles perfiles del consumidor y sus diversas variaciones. Es fundamental para el mercado de la moda explorar, conocer y dar origen a nuevas tendencias, diseños y estilos, con la finalidad de estar siempre a la vanguardia para satisfacer las necesidades de un público detallista, variable, exigente e insaciable.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")