h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Perfiles del consumidor de moda', 'main.html#page/perfiles/')
                    +navTemaItem('2', 'Universos del vestuario', 'main.html#page/universos/')