h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 290601216-2. Aplicar las estrategias de mercado y de comunicación de acuerdo a las características de producto y marca para la industria de la moda.