.container#teoria

    .header-ecored
        h1 1. Perfiles del consumidor de moda
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img63.png", style="max-width: 100%")
        .card-body
            p Perfil de consumidor es el término con el que se conoce a un grupo de personas con características demográficas, sociales, culturales, de comportamiento y estilo de vida similar, al que las empresas enfocan y dirigen la oferta de sus bienes y servicios. Es fundamental que este se conozca a fondo para garantizar una relación directa entre los valores de consumo y los valores de la marca y sus productos.
    
    br#introduccion

    .header-ecored
        h2 1.1 Introducción: los individuos y su entorno
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")
        .card-body
            p Siendo el eje central de las marcas, las personas se constituyen en la fuente principal de análisis al momento de crear un producto o servicio de moda, por lo cual se vuelve esencial analizar, identificar y caracterizar el mercado objetivo al que se dirige un negocio. 
            p.mt-4 La estrecha relación entre cliente, usuario, consumidor y comprador es tema de discusión entre los diferentes autores. Ahora se clarificará un poco esta terminología:
            .row.justify-content-center
                .col-11
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 El usuario es para quien se crean los productos o servicios de una marca, quien sirve como fuente de inspiración.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 El consumidor es quien, con su poder de definición y aceptación de los argumentos de compra, accede a los bienes y servicios, es a quien se dirigen los esfuerzos de comunicación de las marcas.
            .row.bg-color3.rounded.mt-4.shadow
                .col-12.my-5
                    .row.justify-content-center
                        .col-auto
                            img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                        .col-9
                            p Al hablar de consumidor o usuario (segmento o mercado objetivo), se entiende como un grupo de personas con similitud o cercanía en sus manifestaciones culturales, gustos, preferencias, gestualidad, corporalidad, valores, motivaciones, actividades, movilidad, en fin, su estilo de vida y un contexto o entorno específico.
                        .col-auto
                            img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
                        .col-9.mt-4.text-right
                            p.txt-color1.mb-0 #[i (Inexmoda & Tendencial Coolhuntig Lab, s.f.; Inexmoda & Tendencial Coolhunting Lab, 2016; Posner, 2015)]
            section.mt-4
                .row.justify-content-center
                    .col-auto.mt-4
                        a(href="media/documentos/Anexo_1.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Radiografía del consumidor colombiano
                    .col-auto.mt-4
                        a(href="media/documentos/Anexo_2.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Los consumidores, clientes y usuarios
    
    br#factores

    .header-ecored
        h2 1.2 Factores que influyen en el comportamiento del consumidor
    
    .row.mx-0.mb-4.shadow
        .col-12.p-4
            p Todos los individuos se convierten, de una u otra forma en consumidores, por lo tanto, hacen parte de algún tipo de estos. Existen múltiples factores que influyen en el comportamiento del consumidor, los hay externos e internos.
            p Los externos son los que dependen del colectivo, o sea, de un número de personas y pueden ser culturales; es decir, las tradiciones, las costumbres, leyes, lenguaje, historia y territorio o sociales, tales como, la clase social, los grupos de referencia (familia, amigos, vecinos, partido político y compañeros).
            p Los internos, factores que se derivan del individuo, son personales y psicológicos, así: edad, personalidad, gustos, preferencias, ocupación, roles, estilo de vida, percepciones, motivaciones, aptitudes, aprendizajes.
        .col-12.px-0
            img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%")
        .col-12.p-4.bg-color1
            p Cuando se estudian los perfiles del consumidor se analizan, tanto los factores externos como los internos.
            .row.justify-content-center
                .col-11
                    .list.align-items-start
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Cómo y dónde vive?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Con quién o quiénes vive?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Qué tipo de relaciones tiene?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿A qué se dedica?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Qué hace en su tiempo libre?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Cómo se expresa verbal y físicamente?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Cómo son sus espacios?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Qué lo motiva y lo frustra?
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v2.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 ¿Cuáles son sus referentes?
            p.mt-4 Las anteriores se suman al sinnúmero de preguntas que se deben formular cuando se estudia el perfil de un consumidor. 
            p #[i (Adaptado de Cárdenas Antúnez, 2014; Junta de Andalucía, s.f.; Ortega, 2015).]
            .row.justify-content-center
                .col-10.mb-4
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5FbZXT7XbLc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .col-10.mb-4
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/P1BeyxOBe7s', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            section
                .row.justify-content-center
                    .col-auto.mt-4
                        a(href="https://neuromarketing.la/2020/02/comportamiento-del-consumidor-emociones/" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Comportamiento del consumidor: una cuestión de emociones.

    br#cultura

    .header-ecored
        h2 1.3 Cultura y producto de moda: rol y simbolismo, valores culturales del consumidor
    
    .card
        img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%")
        .card-body.bg-color2
            p Al igual que los consumidores, los productos responden a las dinámicas culturales de cada lugar o contexto y a las necesidades y preferencias de los individuos. Las tradiciones, costumbres, leyes, ubicación geográfica, ideologías, el clima, entre otros, influyen en la manera en que las personas se apropian de los objetos, los incluyen en sus cotidianidades o los transforman, lo que para un grupo de personas significa algo o tiene valor, para otro puede pasar desapercibido. Es por ello que las marcas y productores, desarrollan diferentes tipos o estilos de cada producto, puede ser por funcionalidades específicas, por características formales (color, tamaño, textura, olor, presentación), temporadas y ediciones limitadas, entre otras.
            .row.bg-color3.rounded.mt-4.shadow
                .col-12.my-5
                    .row.justify-content-center
                        .col-auto
                            img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
                        .col-9
                            p Los productos de vestuario no son la excepción, las marcas estudian muy bien a los consumidores según las regiones y diferencias culturales en las que hacen presencia, para corresponder tanto con sus necesidades como con sus preferencias, expectativas, capacidades económicas y demás características del mercado objetivo, para ofertar productos que correspondan directamente y garantizar la compra de estos; es por lo anterior que las marcas presentan variaciones de los productos según el contexto, por ejemplo: en las tiendas de distintas regiones de una misma marca se pueden encontrar surtidos diferentes de las tallas, los colores, las siluetas, las texturas (telas) y demás características formales de los productos y diferentes combinaciones (looks) de prendas según sea el comportamiento del consumidor en cada región específica.
                        .col-auto
                            img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
                        .col-9.mt-4.text-right
                            p.txt-color1.mb-0 #[i (Adaptado de Espino, s.f.; Inexmoda & Tendencial Coolhunting Lab, 2016; Jones, 2002; Posner, 2015).]
            section
                .row.justify-content-center.mt-4
                    .col-auto
                        a(href="https://co.pinterest.com/inexmoda/moda-saberes-y-patrimonio-bcapital2018/" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Imágenes en Pinterest: Moda, Saberes y Patrimonio
    
    br#relacion

    .header-ecored
        h2 1.4 Relación directa del perfil del consumidor con universos del vestuario
    
    .card
        .row.p-4
            .col-12
                p.mb-0 La agrupación de consumidores según su estilo de vida, preferencias, tipos de consumo, capacidad de compra, experiencias, vivencias, actitudes, espacios en que se mueve, relaciones, actividades y en general por compartir un estilo mental – conceptual, es a lo que se denomina perfil del consumidor.
        .card-body.p-0
            img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")
        .row.p-4
            .col-12
                p.mb-0 Los perfiles de consumidor guardan estrecha relación con los universos de vestuario, que son los grupos de productos de moda (prendas y accesorios) según la ocasión de uso o la especialidad para la que están desarrollados.
    
    .position-relative.shadow
        a(href="https://www.facebook.com/media/set/?vanity=inexmoda&set=a.10150343496837787", target="_blank")
            img.card-img-top(src='assets/images/pages/img5.png').img-fluid
        .position-absolute(style="bottom: 16px; right: 16px")
            section.my-5
                a(href="https://www.facebook.com/media/set/?vanity=inexmoda&set=a.10150343496837787" target="_blank").media-link
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p Términos de moda Inexmoda - Universos del vestuario (Inexmoda, 2011).
    
    .position-relative.shadow.my-4
        a(href="https://co.pinterest.com/inexmoda/street-style/", target="_blank")
            img.card-img-top(src='assets/images/pages/img6.png').img-fluid
        .position-absolute(style="bottom: 16px; right: 16px")
            section.my-5
                a(href="https://co.pinterest.com/inexmoda/street-style/" target="_blank").media-link
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p Imágenes de Pinterest: Street Style – Pinterest (Inexmoda, s.f.-b)
    
    .card.shadow.bg-color4
        .card-body
            p Así como se estudia al consumidor para conocer su estilo de vida y sus preferencias, se hace un estudio detallado de los productos según la ocasión de uso a la que se destine, por ejemplo: para un consumidor que valora las tradiciones, el lujo, lo clásico, se desarrollarán tipologías de vestuario para sus ocasiones de uso, es decir, un tipo de vestido de baño, un tipo de ropa de trabajo (oficina), un tipo de ropa deportiva, un tipo de ropa de descanso y así según los diferentes usos que las marcas encuentren para su consumidor, así este consumidor tendrá un vestido de baño neutro: clásico, probablemente enterizo, con detalles de confección y con telas de lujo, mientras que otro tipo de consumidor más inclinado por la moda o por la exhibición tendrá uno de dos o tres piezas, con siluetas que dejen ver más la piel y con texturas llamativas y de tendencia.
            p.mt-4 Así, para cada ocasión de uso, no es lo mismo practicar deportes tradicionales que de alto riesgo, no es igual trabajar como ejecutivo en una oficina que independientemente o de manera más informal, es así que los universos de vestuario y los perfiles de consumidor se cruzan para atender cada mercado objetivo. (Adaptado de Hoyos, 2020; Inexmoda, 2011; Inexmoda & Tendencial Coolhuntig Lab, s.f.; Inexmoda & Tendencial Coolhunting Lab, 2016).
            p.mt-4 Revise el siguiente contenido para profundizar.
            section
                .row.justify-content-center.mt-4
                    .col-auto
                        a(href="media/documentos/Anexo_3.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Presentación perfiles consumidor Hoyos 2020
    
    br#perfiles1

    .header-ecored
        h2 1.5 Perfiles de consumidor: tradicional, neotradicional, contemporáneo, vanguardista, visionario
    
    .row.p-4.rounded.shadow.bg-white
        .col-12
            p.mb-0 Como ya se ha mencionado, los perfiles de consumidor sirven para caracterizar un grupo de consumidores. Durante años las agencias de tendencias, los institutos de moda y los #[i coolhunters] han trabajado los perfiles de consumidor según su cercanía en la línea de tiempo con el pasado o con el futuro, estando más cerca de las tradiciones o adoptando nuevos cambios en su forma de vida. Por lo anterior, se establecen las categorías tradicional, neotradicional, contemporáneo, vanguardista y visionario como grandes agrupaciones de los consumidores.
    
    .row.rounded.shadow.mt-4.bg-color3
        .col-12.p-4
            p.mb-0 #[b Los tradicionales]: como su nombre lo indica, son consumidores que tienen un fuerte arraigo a las tradiciones, presentan resistencia al cambio, autocráticos, buscan distinción, se inclinan por el lujo, dan importancia a la etiqueta y el protocolo, conservan las normas, mantienen las costumbres, rígido, formal, exigente, se toma un tiempo para analizar y asumir nuevos productos o conceptos, sus compras son inversiones que hace para que perduren en el tiempo, rutinarios, fieles a los ritos familiares y sociales, se define por roles tradicionales específicos; para ellos más es más.
        img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%")

    .row.rounded.shadow.mt-4.bg-color3
        .col-12.p-4
            p.mb-0 #[b Neotradicional]: se puede definir como un tradicional más sintonizado con el entorno, flexible y abierto a nuevos cambios y conceptos, mantiene un equilibrio entre la tradición y la innovación, así como las tradiciones, rutinas, ritos y costumbres familiares y sociales; sin embargo, es más permeable a nuevos desarrollos, busca una armonía natural, son generalmente hijos de tradicionales que se han abierto más al mundo.
        img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")
    
    .row.rounded.shadow.mt-4.bg-color3
        .col-12.p-4
            p.mb-0 #[b Contemporáneo]: es el producto de los constantes cambios sociales, culturales, económicos y tecnológicos de las últimas décadas, es un consumidor original, auténtico, que se mantiene en constante evolución, multicultural, dinámico, en permanente búsqueda de su mejor versión; para este, el conocimiento prima sobre lo material, es inquieto por aprender nuevas teorías, idiomas, culturas. Abierto al cambio, explorador de nuevas sensaciones, adopta conceptos de moda, sin cambiar su esencia. No da tanta importancia a los roles y las personas, son todas importantes. Prima la calidad sobre la cantidad en todos los aspectos de su vida.
        img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")
    
    .row.rounded.shadow.mt-4.bg-color3
        .col-12.p-4
            p.mb-0 #[b Vanguardista – visionario]: es un grupo de consumidores que se caracteriza por ser inconformistas, exploradores, extremadamente originales, innovadores y romper paradigmas, es este consumidor el que genera cambios y propone nuevos conceptos. Tiene una visión crítica del mundo, de los valores, de las sociedades y de todo lo que pueda ser cambiado. Constantemente busca nuevas experiencias, por lo que no se apegan a nada, viven al día y cuestionan todo. 
        img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")

    .row.rounded.shadow.mt-4.bg-color5.align-items-center
        .col-12.col-md-6
            img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%").img-a
        .col-12.col-md-6
            p Para profundizar, consulte los siguientes documentos que le permitirán conocer en detalle cada uno de los perfiles del consumidor y mucho más a través del informe “Zoom al consumidor colombiano” de Inexmoda.
            section
                .row.justify-content-center
                    .col-auto.my-4
                        a(href="media/documentos/Anexo_5.zip" target="_blank").media-link
                            img(src="assets/images/icons/icon_table_web.svg", alt="").media-link-icon
                            .media-link-title
                                p Zoom al consumidor colombiano inexmoda
                    .col-auto.my-4
                        a(href="media/documentos/Anexo_4.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p La nueva visión del consumidor de moda
    
    br#nuevos

    .header-ecored
        h2 1.6 Nuevos perfiles del consumidor
    
    .row.shadow.mx-0.mt-4.bg-white
        .col-12.p-4
            p A medida que el mundo avanza hacia las nuevas formas de vida, los consumidores se transforman y se crean nuevas tipologías o categorías para identificarlos. La forma en que se consume en la actualidad ha cambiado mucho, las Tecnologías de la Información y Comunicación (TIC), han permitido que el comercio digital y el mercadeo en línea conquisten a los mercados emergentes y han evidenciado la globalización de los consumidores. 
            p.mb-0 Como los perfiles derivados del Tecno-consciente: un grupo de consumidores que viven el futuro en el ahora, son pioneros en el uso de las tecnologías en línea; sin embargo, dan igual importancia a desconectarse, están comprometidos con mejorar el mundo, con las causas medio ambientales y sociales, juegan diferentes roles, son multitareas y multimedia. A la hora de consumir, representan un papel activo en la compra, convirtiéndose en co-creadores con las marcas.
        img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%")
    .row.bg-color6.mx-0.p-4.align-items-center.shadow
        .col-auto
            img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 100%").img-a
        .col
            p Lo anterior, propone retos a las marcas de moda, puesto que les enfrenta a desarrollar nuevas estrategias de comunicación, acercamiento al consumidor y canales de ventas acordes con los nuevos perfiles de consumo. 
            p #[i (Adaptado de: D’andrea, Marcotte & Dixon, 2010; Etxebarria Gangoiti, 2004; Martínez, s.f.; Revista Info Retail, 2019; Rodriguez et al., s.f.).]
        .col-12
            .row.justify-content-center
                .col-10.mt-4
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/_lt7Iq6HCSE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .col-10.mt-4
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R7ppUo3JB_4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#estilos

    .header-ecored
        h2 1.7 Estilos y minorías
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%")
        .card-body
            p La moda tradicionalmente se ha enfocado y reforzado en estándares establecidos y cánones de belleza dictados por las grandes marcas, las tendencias y la sociedad de consumo. Sin embargo, en la actualidad emprendedores emergentes se dedican a atender consumidores de las minorías, bien sea por hacer parte de una etnia racial diferente, tener algún tipo de discapacidades, elegir nuevas formas para su cuerpo, nuevas identidades o expresiones de género, ser más grandes o pequeños, en fin, ser diferentes.
            p Lo anterior ha permitido visibilizar estilos y minorías que en el pasado las grandes marcas no hubieran pensado en atender, por ejemplo:
        .row
            .col-12
                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                        li(data-target='#carouselExampleIndicators', data-slide-to='4')
                        li(data-target='#carouselExampleIndicators', data-slide-to='5')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/img15.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img16.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img17.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img18.png', alt='3')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img19.png', alt='4')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/img20.png', alt='5')
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
        .row.bg-color6.mx-0.p-4.align-items-center.shadow
            .col-auto
                img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 100%").img-a
            .col
                p Estos enfoques empiezan con las pequeñas marcas, ayudando a visualizar mercados huérfanos, para luego ser seguidas por las medianas y grandes y así, posteriormente, convertirse en perfiles de consumidor reconocidos por las grandes marcas.
                p #[i (Adaptado de Calvo, 2016; Expertos en marca, s.f.; Silva, 2020).]
            .col-12
                section
                    .row.justify-content-center
                        .col-auto.my-4
                            a(href="https://expertosenmarca.com/estrategia-minorias-una-herramienta-poderosa-del-marketing/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Estrategia de minorías una herramienta poderosa del marketing - Expertos en Marca
                        .col-auto.my-4
                            a(href="https://www.fucsia.co/moda/inspiracion/articulo/moda-sin-genero-agender/62399" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Moda sin género, ¿tendencia pasajera o apoyo a la equidad?
                        .col-auto.my-4
                            a(href="https://www.ciaindumentaria.com.ar/plataforma/moda-sin-genero/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Moda sin género
    
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true')
                        strong Isabella Springmühl, la diseñadora que rompe los prejuicios del síndrome de Down
                    a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false')
                        strong Personas de talla baja
                #nav-tabContent.tab-content
                    #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TH3g1qe_kko', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/pio3op4Tk_s', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    .row.shadow.mx-0.mt-4
        .col-12.px-0
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jUTUNrmQNMc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#tendencias

    .header-ecored
        h2 1.8 Tendencias globales
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 100%")
        .card-body
            p Si bien el consumidor se mide por las macrotendencias y, dentro de ellas se ubican las diferentes tipologías, se hace necesario percatarse de los comportamientos del mercado global. Las diferentes agencias y empresas que se encargan de pronosticar las tendencias emergentes coinciden en que el consumidor actual:
            .row.justify-content-center
                .col-11
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Está cada vez más informado debido al uso de las Tecnologías de la Información y la Comunicación (TIC).
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Busca la transparencia de productos y marcas, es decir, que le digan la verdad y cumplan su promesa de valor, cuando un consumidor va a comprar algo ya lo ha revisado y validado en internet y con otras personas.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Cuenta con tiempo reducido debido a las múltiples tareas en las que participa día a día.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Accede a tecnologías con mayor facilidad, la mayoría de los consumidores, independientemente de la edad o la clase social acceden a las diferentes tecnologías, no solo de la comunicación, sino, tecnologías aplicadas a la vida cotidiana.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Busca la personalización en los productos y servicios a fin de sentirse único, lo que lleva a las marcas cada día más, a ofrecer servicios adicionales de customización.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Se interesa por el cuidado personal y del planeta, al sentirse habitante del mundo, cuida de sí mismo y del hogar (la tierra).
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Siente un fuerte arraigo con su cultura local, adquiriendo piezas por el valor estético que adquieren o por su procedencia.
        img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 100%")
        .row.bg-color3.mx-0.p-4
            .col-12
                p Por lo anterior, las marcas están llamadas a ofrecer productos y servicios que respondan, prácticamente, a la inmediatez, con la esencia clara y transparente, realizados con buenas prácticas ambientales, sociales (manufactura), amigables con el planeta, con una identidad clara y con una historia que contar. Para conseguirlo se alían fuertemente con la tecnología recurriendo a la inteligencia artificial, robótica, #[i big data] (grandes bases de datos), logística de producción y distribución, involucrando en sus procesos al consumidor (cocreación) como aliado. Adicionalmente, recurriendo a la producción local y bajo los conceptos culturales de la región.
    
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-03-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='true')
                        strong ¿Es perverso el consumidor hoy?
                    a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false')
                        strong Tendencias de consumo 2020
                #nav-tabContent.tab-content
                    #nav-03.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-03-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/6E34YigLEBY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/q8ekFqneEUU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#configuraciones

    .header-ecored
        h2 1.9 Configuraciones estéticas: estilos de vida
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")
        .card-body
            p Para conocer a sus consumidores las empresas o marcas recurren a diferentes métodos, los entrevistan, hacen grupos de enfoque (focus group), observación participante o no participante, en fin, las que cada una de ellas considere son el mejor medio para conocer a fondo el estilo de vida de su consumidor.
        .row.mx-0.bg-color7.p-4
            .col-12.col-md-6.bg-white.rounded.p-4.my-5
                p Para la moda, se hace un ejercicio que se conoce como #[i Street Vision] (mirada de la calle), en el que por medio de fotografías se registran las personas, se analizan sus gestos, corporalidades, lugares en que se moviliza, su relación con las personas y el entorno, en general, todos los elementos que se puedan detectar en el registro fotográfico y que sirvan para, desde las configuraciones estéticas, definir cómo es ese grupo de personas al que se dirigen los productos o servicios. Algunas marcas, que atienden diferentes estilos mentales, hacen #[i Street Vision] para cada uno de estos.
        .row.mx-0.bg-color8.p-4.justify-content-end
            .col-12.col-md-6.bg-white.rounded.p-4.my-5
                p Las situaciones de aislamiento a causa de problemáticas ambientales y de salud, ha llevado a que las empresas, investigadores y diseñadores realicen sus estudios de mercado en línea, por medio de encuentros sincrónicos, redes sociales y demás herramientas disponibles en la red. Es así como navegan por las redes sociales, tomando datos e imágenes de las personas, situaciones, lugares y demás criterios importantes para sus estudios.
        .row.mx-0.bg-color3.p-4
            .col-12
                p.mb-0 #[i (Adaptado de Dinngo, s.f.; Etxebarria, G. 2004; Inexmoda & Tendencial Coolhuntig Lab, s.f.; Inexmoda & Tendencial Coolhunting Lab, 2016; Posner, 2015; SENA & INAMOD, 2017a).]
        .row.bg-color5.align-items-center.mx-0
            .col-12.col-md-6
                img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%").img-a
            .col-12.col-md-6.p-4
                p Para profundizar, consulte los siguientes documentos que le permitirán conocer en detalle cada uno de los perfiles del consumidor y mucho más a través del informe “Zoom al consumidor colombiano” de Inexmoda.
                section
                    .row.justify-content-center
                        .col-auto.mb-4
                            a(href="media/documentos/Anexo_5.zip" target="_blank").media-link
                                img(src="assets/images/icons/icon_table_web.svg", alt="").media-link-icon
                                .media-link-title
                                    p Zoom al consumidor colombiano inexmoda
                        .col-auto.mb-4
                            a(href="media/documentos/Anexo_1.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                .media-link-title
                                    p Radiografia del consumidor colombiano Inexmoda & #[i Tendencial Coolhunting]
                        .col-auto
                            a(href="media/documentos/Anexo_6.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                .media-link-title
                                    p #[i Design Thinking] para el diseño y desarrollo de producto en moda
    
    .row.shadow.mx-0.mt-4
        .col-12.px-0
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/i5ui_DrtcpU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#comportamiento

    .header-ecored
        h2 1.10 Comportamiento del consumidor colombiano
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 100%")
        .card-body
            p Para clasificar al consumidor de moda colombiano, el Instituto para la moda y la exportación Inexmoda con la agencia Tendencial Coolhunting Lab, realizaron un estudio denominado Zoom al consumidor colombiano, en el que, a partir de un #[i Street vision] realizado en las principales ciudades del país, se desglosan los perfiles de consumidor en diferentes estilos mentales, según sus:
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded
        .col-auto
            img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 100%").img-a1
        .col
            p #[b Gestualidades]: cómo es su comportamiento, gestos, poses y actitud frente a la cámara y al investigador.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 100%").img-a1
        .col
            p #[b Corporalidades]: este punto habla sobre, cómo cada persona asume su cuerpo y cómo es la relación entre su cuerpo y el entorno.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img9.svg", style="max-width: 100%").img-a1
        .col
            p #[b Valores]: qué valora esta persona, qué es importante, sobre qué construye su vida.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img10.svg", style="max-width: 100%").img-a1
        .col
            p #[b Motivaciones]: qué le mueve, en qué centran su interés.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img11.svg", style="max-width: 100%").img-a1
        .col
            p #[b Actividades]: a qué se dedica (como profesión u oficio), qué hace en su tiempo libre, qué deportes práctica, entre otras.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img12.svg", style="max-width: 100%").img-a1
        .col
            p #[b Mapa de movilidad]: se refiere a los lugares que frecuenta para su vida cotidiana o para realizar sus actividades.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img13.svg", style="max-width: 100%").img-a1
        .col
            p #[b Referentes]: son personas, marcas, celebridades, artistas, a los que siguen o prefieren, es decir, que emplean como referencia.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img14.svg", style="max-width: 100%").img-a1
        .col
            p #[b Redes sociales]: qué redes sociales usan y cómo lo hacen, o sea, qué publican, de qué hablan, cómo lo publican.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img15.svg", style="max-width: 100%").img-a1
        .col
            p #[b Marcas]: qué marcas consumen, prefieren o tienen como referente.
    
    .row.bg-color3.mx-0.p-4.align-items-center.shadow.rounded.mt-4
        .col-auto
            img.img-fluid(src="assets/images/pages/img16.svg", style="max-width: 100%").img-a1
        .col
            p #[b Productos]: qué tipos de productos compran, con qué frecuencia, para qué los usan, en fin, cómo es su relación con los productos y las compras.
    
    .row.shadow.rounded.mx-0.my-4.bg-white
        .col-12.p-4
            p A partir de lo anterior, surgen los siguientes estilos mentales:
            .row.justify-content-center
                .col-6
                    .list.align-items-start.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Normativos
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Neo conservadores
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Seguidores
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Macho Alfa
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Protagodivas
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Tropilatinos
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Hip-Hop
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 #[i Crew] Urbano
                .col-6
                    .list.align-items-start.mt-2.mt-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 #[i Surfer] Urbanos
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 #[i Skaters]
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Manifiesto Radical
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 #[i Geeks]
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Conocedores Glocales
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Eco-conscientes
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/v1.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-1 Singulartes
        img.img-fluid(src="assets/images/pages/img27.png", style="max-width: 100%")
    
    .card.shadow
        .card-body
            p Al igual que el consumidor mundial, el colombiano se transforma diariamente, a grandes velocidades, debido a los cambios de los mercados y de la humanidad. Actualmente, las personas están más dispuestas a pagar por aprender, porque se les enseñen, dejando un poco atrás el “bueno, bonito y barato” por el “ahora, divertido y a un precio justo”. La democratización del consumidor, le ha permitido hacer parte de los procesos en las empresas (cocreación).
            p.mt-4 Para el análisis local la firma KPMG identifica cuatro grandes categorías de consumidores y cómo abordarlos desde las marcas, así: 
        .row.mx-0.bg-color9.p-4
            .col-12.col-md-6.bg-white.rounded.p-4.my-5
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-1 #[b “Véndemelo”] quienes optan por productos y servicios personalizados por medio de canales de venta ágiles.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-1 #[b “De mí para ti”] para los cuales se deben replantear la forma en que se acceden a los productos y se inclinan por las economías colaborativas.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-1 #[b “A mi manera”] prefieren participar en el proceso de los productos, por lo que se inclinan por los semielaborados y ser ellos quienes los armen, por lo que buscan empresas o marcas con alto nivel de adaptación.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-1 #[b “Estoy en tus manos”] el precio bajo juega un gran papel en ellos y poder acceder a los productos y servicios desde su hogar.
        .row.bg-color6.mx-0.p-4.align-items-center.shadow
            .col-auto
                img.img-fluid(src="assets/images/pages/img6.svg", style="max-width: 100%")
            .col
                p Debido al confinamiento, los consumidores han aumentado su consumo en línea, ven más televisión, consumen más entretenimiento por demanda (como lo afirma #[i gamming & video on demand]) y las experiencias virtuales.
                p.mb-0 #[i Adaptado de Mindshare, 2020; Confidencial Colombia, 2019; Consumidor Dinero, 2014; Economía Dinero, 2019; C. Herrera, 2019; Rios, 2016; Universidad Autónoma de Occidente & Raddar, 2017.]
            .col-12
                section
                    .row.justify-content-center
                        .col-auto.mt-4
                            a(href="https://confidencialcolombia.com/economia/este-es-el-perfil-demografico-de-los-consumidores-colombianos-segun-bbva-research/2019/05/22/" target="_blank").media-link
                                img(src="assets/images/icons/icon_table_web.svg", alt="").media-link-icon
                                .media-link-title
                                    p Conozca el perfil demográfico de los consumidores colombianos
    
    .row.shadow.mx-0
        .col-12.px-0
            nav.nav-tab-ecored
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-05-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='true')
                        strong El consumidor colombiano 30 años después, Colombiamoda 2019
                    a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false')
                        strong El perfil del consumidor en Colombia
                #nav-tabContent.tab-content
                    #nav-05.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-05-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/6GSz0lgLYng', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                        .row.justify-content-center
                            .col-10
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yoCZUlbhOXI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#como

    .header-ecored
        h2 1.11 Cómo consumirán los adolescentes de hoy dentro de 10 años
    
    .card.shadow
        img.img-fluid(src="assets/images/pages/img29.png", style="max-width: 100%")
        .card-body
            p Siendo la generación “Z” (Zeta) los verdaderos nativos digitales, los hace consumidores que saben cómo crear y compartir contenido, navegan como pez en el agua por las redes sociales, en especial por aquellas con alto contenido visual y audiovisual, pasaron del computador al teléfono móvil, lo que les hace tener toda la información en la mano y estar permanentemente conectados.
        .row.mx-0
            .col-12.col-md-6.px-0.bg-color11
            .col-12.col-md-6.bg-color10
                p.mt-4 Ya están pasando de las aulas al mercado laboral, en el cual se proyectan como seres emprendedores con un alto sentido por el cambio social, luchando por la desigualdad, el medio ambiente y la participación ciudadana.
                p La primera generación con una clara consciencia de la globalidad hace uso de la interconexión que permiten las telecomunicaciones para, no solo estar al tanto de lo que sucede, sino para participar del cambio.
                p Son los consumidores que realmente intervienen en el proceso de creación con las empresas, promoviendo y demandando transparencia de las marcas.
                p #[i Adaptado de Fernández, 2017; Vodafone Empresas, 2019; Merodio, 2019.]

    .card.shadow.bg-color4
        .card-body
            section
                .row.justify-content-center.mt-4.align-items-center
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ow-wuz6972M', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .col-10.mt-4
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8qy3wvk0Hco', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .col-6
                        img.img-fluid(src="assets/images/pages/img17.svg", style="max-width: 60%").img-a
                    .col-auto
                        a(href="media/documentos/Anexo_7.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                            .media-link-title
                                p Consumer Insight 2015 - Generation Z

    br#como1

    .header-ecored
        h2 1.12 Cómo analizar un perfil del consumidor de moda
    
    .card.shadow
        .card-body
            p El perfil de consumidor es la suma de los factores internos y externos que influyen en las personas a la hora de tomar decisiones de compra; por lo tanto, para analizar el consumidor, se debe ir a fondo, conocerlo, estudiarlo y mantenerse actualizado sobre su comportamiento, para lo cual se emplean diferentes técnicas y herramientas de investigación de mercados utilizadas en la antropología, el diseño y el marketing, tales como: entrevistas en contexto, grupos focales (#[i focus group]), encuestas, observación participante, observación no participante, exploración de redes sociales y las que cada empresa determine para su estudio.
        img.img-fluid(src="assets/images/pages/img31.png", style="max-width: 100%")
        .row.mx-0.p-4.bg-color12
            .col-12.col-md-6.py-md-6
                p Identificando y describiendo el estilo de vida o el estilo mental del consumidor, para lo que se tiene en cuenta, entre otros, los criterios vistos anteriormente: gestualidades, corporalidades, valores, motivaciones, actividades, mapa de movilidad, referentes, redes sociales, marcas, productos y así determinar cómo es su estilo de vida y la relación que se establece o formará (cuando la empresa o marca es nueva) con los productos a ofrecerles.
                p #[i Adaptado de Etxebarria, G., 2004; Inexmoda & Tendencial Coolhuntig Lab, s.f.; Inexmoda & Tendencial Coolhunting Lab, 2016; Merodio, 2019; Ortega, 2015; Posner, 2015.]