.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td (BBVA Research, 2019) Perfilamiento del consumidor colombiano.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_8.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Harvard Business Review América Latína (2010). Deje que los clientes de mercados emergentes sean sus profesores.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_9.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Pardo, C.; Hernandis, O.; Paixão-B. (2012). Perfiles sociales para la moda: la segmentación de mercado como herramienta estratégica en las decisiones de diseño.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_10.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Economía Dinero, 2019) ¿Qué le pasa al consumidor colombiano?
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_11.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td UNIVERSIDAD DE JAÉN (s.f.). Tema 5. El comportamiento del consumidor y de las organizaciones.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_12.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Arana, A.; Morales, A.; Guzmán, G. (s.f.). La influencia de la cultura en el comportamiento del consumidor.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_13.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (s.f.). Módulo 4. El comportamiento del consumidor/a.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_14.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Rodríguez, S.; Castrejón, M.; Cid, D. (s.f.). Multiculturalismo y mercados.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_15.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Fundéu, 2015) Glosario de la moda
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_17.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td (Tevisto.com, 2017) Diccionario de la moda
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo_16.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver